Source: vigilo-connector-nagios
Section: python
Priority: extra
Maintainer: Vigilo Team <contact@projet-vigilo.org>
Build-Depends:
 debhelper (>= 7.0.50~),
 python (>= 2.6.6-3~),
 python-setuptools,
 python-all
Standards-Version: 3.8.4
Homepage: http://www.projet-vigilo.org/
X-Python-Version: >= 2.5

Package: vigilo-connector-nagios
Architecture: all
Suggests: vigilo-connector-nagios-doc
Depends:
 ${misc:Depends},
 ${python:Depends},
 nagios3,
 adduser (>= 3.11),
 grep,
 passwd
Description: Vigilo-Nagios connector
 Gateway from Nagios to the Vigilo message
 bus and back to Nagios.

Package: vigilo-connector-nagios-doc
Architecture: all
Section: doc
Depends: ${sphinxdoc:Depends} ${misc:Depends}
Description: Vigilo-Nagios connector (documentation)
 Gateway from Nagios to the Vigilo message
 bus and back to Nagios.
 .
 This package contains documentation about the Vigilo-Nagios connector.

