[Unit]
Description=Vigilo connector that acts as a bridge between Nagios/Shinken and Vigilo
After=syslog.service
After=rsyslog.service
After=network.target

After=rabbitmq-server.service
After=nagios.service

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
EnvironmentFile=-/etc/sysconfig/vigilo-connector-nagios
User=vigilo-nagios
ExecStart=/usr/bin/vigilo-connector-nagios -d /var/lib/vigilo/connector-nagios --pidfile '' -n vigilo-nagios
Restart=on-failure
